<div class="content">
  {{#if (eq type "video")}}
    <video controls autoplay loop src="{{basePath}}media/{{title}}"></video>
  {{else if (eq type "image")}}
    <img src="{{basePath}}media/{{title}}" alt="{{title}}" class="fit--{{fit}}" />
  {{else if (eq type "text")}}
    <pre>{{getFileContents title}}</pre>
  {{else}}
    <a href="{{basePath}}media/{{title}}">Download {{title}}</a>
  {{/if}}
</div>
<div class="nav-overlay">
  <h2>{{title}}</h2>
  {{#if (eq style "bi")}}
    {{#if next}}<a href="{{basePath}}view{{next}}?{{query}}" title="next" class="pos pos--left">&gt;</a>{{/if}}
    {{#if next}}<a href="{{basePath}}view{{next}}?{{query}}" title="next" class="pos pos--right">&gt;</a>{{/if}}
    {{#if prev}}<a href="{{basePath}}view{{prev}}?{{query}}" title="previous" class="pos pos--bottom pos--center">&lt;</a>{{/if}}
    <a href="{{basePath}}browse{{base}}?{{query}}#{{name}}" title="back" class="pos pos--top pos--center">^</a>
  {{else if (eq style "ltr")}}
    {{#if next}}<a href="{{basePath}}view{{next}}?{{query}}" title="next" class="pos pos--right">&gt;</a>{{/if}}
    {{#if prev}}<a href="{{basePath}}view{{prev}}?{{query}}" title="previous" class="pos pos--left">&lt;</a>{{/if}}
    <a href="{{basePath}}browse{{base}}?{{query}}#{{name}}" title="back" class="pos pos--top pos--center">^</a>
  {{else if (eq style "rtl")}}
    {{#if next}}<a href="{{basePath}}view{{next}}?{{query}}" title="next" class="pos pos--left">&gt;</a>{{/if}}
    {{#if prev}}<a href="{{basePath}}view{{prev}}?{{query}}" title="previous" class="pos pos--right">&lt;</a>{{/if}}
    <a href="{{basePath}}browse{{base}}?{{query}}#{{name}}" title="back" class="pos pos--top pos--center">^</a>
  {{/if}}
  <footer>
    <div>
      {{#if exif}}
        {{exif.FocalLength}};
        {{exif.FNumber}};
        {{exif.Exposure}};
        ISO {{exif.ISO}}
      {{/if}}
    </div>
    <div>
      {{#each raws}}
        <a href="{{this.path}}">{{this.name}}</a>
      {{/each}}
    </div>
    <div>
      config
    </div>
  </footer>
</div>
