{{#if (eq type "video")}}
  <video controls autoplay loop src="{{basePath}}media/{{title}}"></video>
{{else if (eq type "image")}}
  <img src="{{basePath}}media/{{title}}" alt="{{title}}" class="fit--{{fit}}" />
{{else if (eq type "text")}}
  <pre>{{getFileContents title}}</pre>
{{else if (eq type "embedded")}}
  <embed src="{{basePath}}media/{{title}}" style="width: 100%; height: 100%" />
{{else}}
  <a href="{{basePath}}media/{{title}}">Download {{title}}</a>
{{/if}}
